<appSettings>
  <add key="ida:ClientId" value="ENTER_YOUR_APP_ID" />
  <add key="ida:ClientSecret" value="ENTER_YOUR_SECRET" />
  <add key="ida:NotificationUrl" value="ENTER_YOUR_URL/notification/listen" />
  <add key="ida:AADInstance" value="https://login.microsoftonline.com" />
  <add key="ida:AppScopes" value="User.Read Mail.Read" />
</appSettings>