{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "DevTunnel": "YOUR_DEVTUNNEL_URL",
    "GitHubOptions:WebhookSecret": "YOUR_WEBHOOK_SECRET",
    "GitHubOptions:LogWebhookPayloads": false,
    "GitHubOptions:RepoOwner": "REPO_OWNER",
    "GitHubOptions:RepoName": "REPO_NAME",
    "GitHubOptions:PersonalAccessToken": "YOUR_PERSONAL_ACCESS_TOKEN",
    "GraphOptions:ClientId": "",
    "GraphOptions:ClientSecret": "",
    "GraphOptions:ConnectorId": "ghissuemanager",
    "GraphOptions:TenantId": ""
  }
}
